* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  background-color: #faf7f3;
  min-height: 150vh;
  min-width: 100vw;

  position: relative;
}

#navbar {
  background-color: #ebffd8;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;

  padding: 16px 40px;
}
