* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Layout for index.html*/
#main {
  position: relative;
}

#navbar {
  height: 60px;

  background-color: #faf7f3;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;

  padding: 0px 50px;
  margin: 20px 30px 10px 30px;
  border-radius: 30px;
}

#logo-text {
  color: limegreen;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

#links {
  display: flex;

  gap: 4px;
}

.link_button {
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 12px;
  border-radius: 20px;

  transition: all 0.2s ease;
}

.link_button.active > p {
  color: limegreen;
  border-bottom: 1px solid limegreen;
}

.link_button:active {
  transform: scale(0.9);
}

.link_button:hover {
  background-color: #e0e0e0;
}

/* Layout for home.html*/
#home-image-container {
  aspect-ratio: 16 / 9;

  margin: 20px 30px;

  border-radius: 30px;
  opacity: 0.75;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../public/images/mainpage-mountain.png");
  background-size: cover;
  background-position: center;
}

#home-title {
  font-size: 48px;
  font-weight: bold;
  color: #faf7f3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#home-subtitle {
  font-size: 24px;
  color: #faf7f3;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

#home-search-bar {
  margin-top: 10px;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  padding: 2px;
  background-color: #faf7f3;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#home-search-input {
  width: 75%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 25px;
  line-height: 1.5;
  margin-left: 20px;
}

#home-search-button {
  width: 20%;
  height: 100%;
  border: 1px solid limegreen;
  border-radius: 25px;
  color: limegreen;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  #home-image-container {
    width: 100%;
    height: 400px;
    margin: 0;
    border-radius: 0;
  }
}
