/* Layout for home.html*/
#home-main-container {
  position: relative;
  padding: 120px 20px;
}

#home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: -1;

  filter: brightness(0.9);
  opacity: 0.6;
}

#home-container {
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#home-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

#home-title-highlight {
  color: var(--primary);
}

#home-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: var(--muted-foreground);
  text-align: center;
}

#home-search-bar {
  width: 100%;
  max-width: 768px;

  height: 56px;
  border-radius: 10px;
  padding: 1px;
  background-color: var(--background);
  border: 1px solid var(--input);

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 4px;
}

#home-search-input {
  width: 85%;
  height: 100%;

  outline: none;
  font-size: 18px;
  padding-left: 20px;
  border-radius: 8px;

  background-color: var(--background);
  border: 1px solid var(--input);
  color: var(--foreground);

  transition: all 0.2s ease;
}

#home-search-input:focus {
  border-color: var(--ring);
  box-shadow: 0 0 0 2px #4f46e51a;
}

#home-search-button {
  width: 20%;
  height: 100%;
  border-radius: 8px;
  min-width: 70px;
}

#home-search-button:hover {
  background-color: var(--primary);
  color: var(--background);
}

@media (max-width: 768px) {
  #home-main-container {
    padding: 60px 10px;
  }

  #home-container {
    gap: 20px;
  }

  #home-title {
    font-size: 40px;
  }

  #home-subtitle {
    font-size: 18px;
  }
}
