/* Layout for home.html*/
#home-main-container {
}

#home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: -1;

  filter: brightness(0.9);
  opacity: 0.6;
}

#upper-content-container {
  position: relative;
  padding: 100px 20px;
}

#home-container {
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#home-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

#home-title-highlight {
  color: var(--primary);
}

#home-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: var(--muted-foreground);
  text-align: center;
}

#home-search-bar {
  width: 100%;
  max-width: 768px;

  height: 56px;
  border-radius: 10px;
  padding: 1px;
  background-color: var(--background);
  border: 1px solid var(--input);

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 4px;

  margin-top: 10px;
}

#home-search-input {
  width: 85%;
  height: 100%;

  outline: none;
  font-size: 18px;
  padding-left: 20px;
  border-radius: 8px;

  background-color: var(--background);
  border: 1px solid var(--input);
  color: var(--foreground);

  transition: all 0.2s ease;
}

#home-search-input:focus {
  border-color: var(--ring);
  box-shadow: 0 0 0 2px #4f46e51a;
}

#home-search-button {
  width: 20%;
  height: 100%;
  border-radius: 8px;
  min-width: 70px;
}

#home-search-button:hover {
  background-color: var(--primary);
  color: var(--background);
}

#info-cards-container {
  width: 100%;
  max-width: 600px;

  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info-card-image {
  aspect-ratio: 1 / 1;
  height: 32px;
  object-fit: contain;
}

.info-card-title {
  font-size: 24px;
  font-weight: 700;
}

.info-card-description {
  font-size: 14px;
  /* color: var(--muted-foreground); */
}

#popular-destinations-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 20px 0;
  padding: 0px 20px;
}

.medium-title {
  font-size: 32px;
  font-weight: 700;
}

#all-tour-button {
  border: 1px solid var(--foreground);
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 16px;
  color: black;
}

#popular-destinations-container {
  width: 100%;

  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.city-card {
  width: 380px;

  display: flex;
  flex-direction: column;

  border-radius: 30px;
  border: 1px solid var(--border);

  position: relative;

  cursor: pointer;
  transition: all 0.2s ease;
}

.city-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.city-card:hover .city-card-image {
  transform: scale(1.05);
}

.city-card-image-container {
  overflow: hidden;
  height: 192px;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.city-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease;
}

.city-card-info {
  padding: 10px 16px;

  display: flex;
  flex-direction: column;
}

.city-card-tours {
  position: absolute;
  right: 20px;
  top: 14px;
  background-color: white;
  border-radius: 10px;
  padding: 4px;
}

.city-card-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.city-card-country {
  font-size: 14px;
  color: var(--muted-foreground);
}

.city-card-description {
  font-size: 14px;
  margin-top: 8px;
}

@media (max-width: 900px) {
  .city-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  #upper-content-container {
    padding: 60px 10px;
  }

  #home-container {
    gap: 20px;
  }

  #home-title {
    font-size: 40px;
  }

  #home-subtitle {
    font-size: 18px;
  }
}
